/* Line height determines how much space there is in between our lines */

body {
    background-color: #efeee7;
    margin: 0;
    padding: 0;
    font-family: "Georgia", "Times New Roman", 'Times New Roman', Times, serif;
    font-size: 18px;
    line-height: 150%;
}


h1 {
    color: #efeee7;
    background-color: #333333;
    margin: 0;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 28px;
}

h2 {
    font-size: 24px;
}

a {
    color: #d21034
}

.container {
    width: 1024px;
    margin: 0 auto;  
}

/* Floating basically just pushes it or corrects it to a certain side, 
this is just pushing it to the left side of our defined container size */

#main-bio,
#contact-info,
#bio-image {
    float: left;
}

/* Doing the width like this is just defining it as 100%, so 100% of our info
is in here and the main bio has 70% of the width and the contact has that last %30
so if I push the contact width to 40% it's too much and goes under the main bio */

#main-bio {
    width: 70%
}
#contact-info {
    width: 30%;
}

#bio-image {
    margin-right: 20px;
    width: 200px;
    height: 200px;
}